<% if obj.errors.any? %>
  <div class='alert alert-danger'>
    <h4>Ooops!</h4>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>