<h4>Comments:</h4>
<% obj.comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <em>"<%= comment.body %>"</em>
    </div>
    <% clean_time = date_time_sanitizer(comment.created_at) %>
    <div class="panel-footer">by <%= link_to comment.user.username, '#' %> on <%= clean_time %></div>
  </div>
<% end %>