/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  padding:2%;
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.row {
  margin-left:0;
  margin-right:0;
}
.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

.alert-danger {
  width:83%;
}

.dropdown {
  margin-top:7px;
  .btn {
    margin-left:10px;
    a {
      color:#ffffff;
    }
  }
  .dropdown-menu {
    .btn {
      padding:0;
      a {
        display:block;
        padding:6px 10px 6px 10px;
      }
      a:hover {
        text-decoration:none;
      }
    }
  }
}

.panel {
  margin-top:20px;
}

#new_comment {
  .btn {
    margin-top: 12px;
  }
}

#new_post {
  .checkbox-inline.adjustment {
    margin-top:4px !important;
  }
  .checkbox-inline + .checkbox-inline {
    margin-left:3%;
  }
}
.category-label {
  display:block;
}

.checkbox .label-inline {
  margin-top:4px !important;
}

#new_user {
  input[type='text'], input[type='password'] {
    width:70%;
  }
}
