<nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to "Postit!", root_path, :class => "navbar-brand" %>
    </li>
    <li>
      <%= link_to 'New Post', new_post_path %>
    </li>
</ul>
</nav>

